---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
	title: string;
	description: string;
}

const { description, title } = Astro.props;
const baseUrl = "https://maxiv95.github.io/rec";
const fbAppId = "1798923197";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta name="title" property="og:title" content={title} />
		<meta name="description" property="og:description" content={description} />
		<meta name="image" property="og:image" content="https://maxiv95.github.io/rec/banner.webp" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={`${baseUrl}`} />
		<meta property="fb:app_id" content={`${fbAppId}`} />
		<meta property="fb:admins" content={`${fbAppId}`} />
		<meta name="theme-color" content="#333333" />
		<meta name="author" content="Maximiliano Van Megroot" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="./favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Itim&family=Shadows+Into+Light&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions />
	</head>
	<body class="relative text-black/80 dark:text-white flex justify-between">
		<div
			class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-gray-50 dark:bg-gray-950
      bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(255,255,0,0.1),rgba(0,0,255,0.1))]
      dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(0,0,255,0.4),rgba(0,0,255,0.09))]"
		>
		</div>
		<Header />
		<slot />
		<Footer />
		<style is:global>
			:root {
				color-scheme: dark light;
			}
			body {
				font-family: "Itim";
				display: flex;
				flex-direction: column;
				min-height: 100vh;
			}
		</style>
	</body>
</html>
