---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
	title: string;
	description: string;
	keywords?: string;
}

const { description, title, keywords = "" } = Astro.props;
const imgUrl = "https://maxiv95.github.io/rec/banner.webp";
const baseUrl = "https://maxiv95.github.io/rec/";
const canonicalUrl = "https://maxiv95.github.io/";
const fbAppId = "1798923197";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>

		<!-- Meta-etiquetas para SEO -->
		<meta name="description" content={description} />
		<meta name="keywords" content={keywords} />
		<meta name="language" content="es-AR" />
		<meta name="robots" content="index, follow" />

		<!-- Meta-etiqueta Canonical -->
		<link rel="canonical" href={canonicalUrl} />

		<!-- Meta-etiquetas Open Graph para redes sociales -->
		<meta property="fb:admins" content={fbAppId} />
		<meta property="fb:app_id" content={fbAppId} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={imgUrl} />
		<meta property="og:locale" content="es_AR" />
		<meta property="og:site_name" content={title} />
		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={baseUrl} />

		<!-- Metadatos geográficos -->
		<meta name="geo.region" content="" />
		<meta name="geo.placename" content="" />
		<meta name="geo.position" content="" />
		<meta name="ICBM" content="" />

		<!-- Información adicional -->
		<meta name="author" content="Maximiliano Van Megroot" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="./favicon.svg" />

		<!-- Fuentes -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Itim&family=Shadows+Into+Light&display=swap"
			rel="stylesheet"
		/>

		<meta
			name="google-site-verification"
			content="Pw594qDKAiBdRXrcHRW7nV-SgdZ_IjdzfGNbRSDsMXk"
		/>
		<ViewTransitions />
	</head>
	<body class="relative text-black/80 dark:text-white flex justify-between">
		<div
			class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-gray-50 dark:bg-gray-950
      bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(255,255,0,0.1),rgba(0,0,255,0.1))]
      dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(0,0,255,0.4),rgba(0,0,255,0.09))]"
		>
		</div>
		<Header />
		<slot />
		<Footer />
		<style is:global>
			:root {
				color-scheme: dark light;
			}
			body {
				font-family: "Itim";
				display: flex;
				flex-direction: column;
				min-height: 100vh;
			}
		</style>
	</body>
</html>
